<div class="center top-margin">
  <h3>Sign up for an account here</h3>
  <%= form_for @user do |f| %>
    <%= f.label 'username' %>
    <%= f.text_field 'username' %>
    <%= f.label 'password' %>
    <%= f.password_field 'password' %>
    <%= f.submit 'Create Account' %>
  <% end %>
</div>
