<div class="row center">
  <div class="col s6 offset-s3">
    <div class="new-link center">
      <h3>New Link!</h3>
      <%= form_for @link, url: link_path(@link), method: :put do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %>
      <%= f.label :url %>
      <%= f.text_field :url %>
      <%= f.submit 'Update Link!', class: 'btn blue' %>
      <% end %>
    </div>
  </div>
</div>
