<div class="row center">
  <div class="col s6 offset-s3">
    <div class="new-link center">
      <h3>New Link!</h3>
      <%= form_for :link, url: links_path do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %>
      <%= f.label :url %>
      <%= f.text_field :url %>
      <%= f.submit 'Create Link!', class: 'btn blue' %>
      <% end %>
    </div>
  </div>
</div>
<div class="center top-margin">
  <h3>All Links</h3>
</div>
<div class="links center">
  <% @links.each do |link| %>
  <div class="row">
    <div class="col s6 offset-s3">
      <div class="link center" id="<%= link.id %>">
        <h4><%= link_to link.title, link.url, target: '_blank'%></h4>
        <% if link.read %>
          <p>Read</p>
          <button type="button" class="btn btn-small blue" id="markUnread">Mark As Unread</button>
        <% else %>
          <p>Unread</p>
          <button type="button" class="btn btn-small blue" id="markRead">Mark As Read</button>
        <% end %>
        <div class="link-buttons">
          <%= button_to 'Edit', edit_link_path(link), method: :get, class: 'btn btn-small green' %>
          <%= button_to 'Delete', link_path(link), method: :delete, class: 'btn btn-small red' %>
          <%= button_to 'View', link_path(link), method: :get, class: 'btn btn-small blue' %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
