<!DOCTYPE html>
<html>
<head>
  <title>ThoughtboxPractice</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <% flash.each do |type, msg| %>
    <p class="flash_<%= type %>"><%= msg %></p>
  <% end %>
  <%= yield %>
</div>
</body>
</html>
